/* ---------- General ---------- */
* {
    padding: 0;
    margin: 0;
}

html,
p,
input,
textarea,
select,
a,
button {
    font-family: 'verdana';
    font-size: 16px;
    line-height: 1.3;
    color: #3e3934;
}

body {
    margin-top: 105px;
    margin-bottom: 135px;
    min-height: 100%;
}

a:hover {
    color: #0090da;
}

.page-header {
    padding: 10px 40px;
}


/* ---------- Header & Navigation ---------- */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px 1px #3e393474;
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-areas:
        'one two three four five six seven eight nine ten'
    ;
    grid-template-columns: 80px 110px 110px repeat(7, 1fr);
    align-items: center;
}

.nav-item-1 {
    grid-area: one;
}

.nav-item-1 img {
    height: 60px;
    width: 60px;
}

.nav-item-2 {
    grid-area: two;
    min-width: 100px;
}

.nav-item-3 {
    grid-area: three;
    min-width: 100px;
}

.nav-item-10 {
    grid-area: ten;
    min-width: 100px;
    justify-self: end;
}


/* ---------- Footer ---------- */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px 3px #3e393474;
}

footer p {
    position: relative;
    top: 30%;
    margin-left: 40px;
}

#final-project-copy {
    font-size: 14px;
    margin-top: 3px;
}


/* ---------- Projects List Page ---------- */
.create-project-link {
    padding: 10px 40px;
}

.no-projects {
    padding: 10px 40px;
}

table {
    width: auto;
    min-width: 300px;
    margin-top: 15px;
    margin-left: 40px;
    padding: 10px;
    border: 2px solid #3e3934;
    border-radius: 7px;
    box-shadow: 12px 12px 2px 1px #0090da;
}

.projects-table-header {
    padding: 12px 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    display: grid;
    grid-template-areas:
        'one one one two two two two two'
    ;
    grid-template-columns: repeat(8, 100px);
    background-color: #0090da;
}

.projects-header-1 {
    grid-area: one;
    justify-self: start;
}

.projects-header-2 {
    grid-area: two;
    justify-self: start;
}

.projects-table-body {
    padding: 12px 10px;
    display: grid;
    grid-template-areas:
        'one one one two two two two two'
    ;
    grid-template-columns: repeat(8, 100px);
}

.projects-body-1 {
    grid-area: one;
    height: 30px;
    justify-self: start;
}

.projects-body-2 {
    grid-area: two;
    height: 30px;
    justify-self: start;
}


/* ---------- Tasks List Page ---------- */
.no-tasks {
    padding: 10px 40px;
}

.tasks-table-header {
    padding: 12px 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    display: grid;
    grid-template-areas:
        'one one one one two two three three four four'
    ;
    grid-template-columns: repeat(10, 80px);
    background-color: #0090da;
}

.tasks-header-1 {
    grid-area: one;
    justify-self: start;
}

.tasks-header-2 {
    grid-area: two;
    justify-self: start;
}

.tasks-header-3 {
    grid-area: three;
    justify-self: start;
}

.tasks-header-4 {
    grid-area: four;
    justify-self: start;
}

.tasks-table-body {
    padding: 12px 10px;
    display: grid;
    grid-template-areas:
        'one one one one two two three three four four'
    ;
    grid-template-columns: repeat(10, 80px);
}

.tasks-body-1 {
    grid-area: one;
    height: 30px;
    justify-self: start;
}

.tasks-body-2 {
    grid-area: two;
    height: 30px;
    justify-self: start;
}

.tasks-body-3 {
    grid-area: three;
    height: 30px;
    justify-self: start;
}

.tasks-body-4 {
    grid-area: four;
    height: 30px;
    justify-self: start;
}

.tasks-body-4 form button {
    width: 100px;
    height: 30px;
    background-color: #0090da;
    color: #ffffff;
    border-radius: 7px;
    border: 1px solid #0090da;
}

.tasks-body-4 form button:hover {
    opacity: 90%;
    box-shadow: 2px 2px 2px 1px #0090da90;
}


/* ---------- Project Details Page ---------- */
.project-details-div {
    padding: 10px 20px;
    margin-left: 20px;
    max-width: 1000px;
}

.project-details-div p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-details-div h2 {
    padding-top: 3px;
    padding-bottom: 3px;
}

#no-tasks {
    padding-top: 10px;
}

#project-details-table {
    width: auto;
    min-width: 300px;
    margin: 15px 0px;
    padding: 10px;
    border: 2px solid #3e3934;
    border-radius: 7px;
    box-shadow: 12px 12px 2px 1px #0090da;
}

.project-details-table-header {
    padding: 12px 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    display: grid;
    grid-template-areas:
        'one one one one two two three three four four five five'
    ;
    grid-template-columns: repeat(12, 80px);
    background-color: #0090da;
}

.project-details-header-1 {
    grid-area: one;
    justify-self: start;
}

.project-details-header-2 {
    grid-area: two;
    justify-self: start;
}

.project-details-header-3 {
    grid-area: three;
    justify-self: start;
}

.project-details-header-4 {
    grid-area: four;
    justify-self: start;
}

.project-details-header-5 {
    grid-area: five;
    justify-self: start;
}

.project-details-table-body {
    padding: 12px 10px;
    display: grid;
    grid-template-areas:
        'one one one one two two three three four four five five'
    ;
    grid-template-columns: repeat(12, 80px);
}

.project-details-body-1 {
    grid-area: one;
    justify-self: start;
}

.project-details-body-2 {
    grid-area: two;
    justify-self: start;
}

.project-details-body-3 {
    grid-area: three;
    justify-self: start;
}

.project-details-body-4 {
    grid-area: four;
    justify-self: start;
}

.project-details-body-5 {
    grid-area: five;
    justify-self: start;
}


/* ---------- Create Project & Create Task Page ---------- */
.form {
    padding: 20px 20px;
    margin: 15px 40px 50px;
    width: 420px;
    min-width: 300px;
    border: 2px solid #3e3934;
    border-radius: 7px;
    box-shadow: 12px 12px 2px 1px #0090da;
}

.form-fields {
    display: block;
    width: 400px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.form-button {
    display: block;
    width: 100px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #0090da;
    color: #ffffff;
    border-radius: 7px;
    border: 1px solid #0090da;
}

.form-button:hover {
    opacity: 90%;
    box-shadow: 2px 2px 2px 1px #0090da90;
}


/* ---------- Login & Signup Page ---------- */
.login-header {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    width: 105px;
}

.signup-header {
    padding-top: 5px;
    padding-bottom: 30px;
    margin: auto;
    width: 120px;
}

.access-form {
    padding: 40px 55px;
    margin: auto;
    margin-bottom: 70px;
    width: 210px;
    border: 2px solid #3e3934;
    border-radius: 7px;
    box-shadow: 12px 12px 2px 1px #0090da;
}

.access-form p {
    font-size: 13px;
}

.access-form ul li {
    list-style: none;
    font-size: 13px;
    color: #e71118;
    font-style: italic;
}