{% extends 'base.html' %}

{% block title %}
    <title>Login</title>
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1 class="login-header">Login</h1>
            <form class="access-form" method="POST">
                {% csrf_token %}
                <label for="{{ form.username.id_for_label }}">Username:</label>
                <br>
                {{ form.username }}
                <br>
                <br>
                <label for="{{ form.password.id_for_label }}">Password:</label>
                <br>
                {{ form.password }}
                <br>
                <br>
                <button class="form-button">Login</button>
            </form>
        </div>
    </main>
{% endblock content %}