{% extends 'base.html' %}

{% block title %}
    <title>Signup</title>
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1 class="signup-header">Signup</h1>
            <form class="access-form" method="POST">
                {% csrf_token %}
                {{ form.username.errors }}
                <br>
                <label for="{{ form.username.id_for_label }}">Username:</label>
                <br>
                {{ form.username }}
                <br>
                <p>150 characters or less. Letters, digits, and @/./+/-/_ only.</p>
                <br>
                {{ form.password1.errors }}
                <br>
                <label for="{{ form.password1.id_for_label }}">Password:</label>
                <br>
                {{ form.password1 }}
                <br>
                <p>• Your password can't be too similar to your other personal information.</p>
                <p>• Your password must contain at least 8 characters.</p>
                <p>• Your password can't be a commonly used password.</p>
                <p>• Your password can't be entirely numeric.</p>
                <br>
                {{ form.password2.errors }}
                <br>
                <label for="{{ form.password2.id_for_label }}">Password Confirmation:</label>
                <br>
                {{ form.password2 }}
                <br>
                <p>Re-enter your password for verification.</p>
                <br>
                <br>
                <button class="form-button">Signup</button>
            </form>
        </div>
    </main>
{% endblock content %}