{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        {% block title %}
        {% endblock title %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li class="nav-item-1"><a href="{% url 'list_projects' %}"><img src="https://logo.clearbit.com/hackreactor.com" alt="Hack Reactor logo"></a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item-2"><a href="{% url 'show_my_tasks' %}">My Tasks</a></li>
                        <li class="nav-item-3"><a href="{% url 'list_projects' %}">My Projects</a></li>
                        <li class="nav-item-10"><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
    <footer>
        <p><strong>ⓒ August, 2022 | Alex Kagawa</strong></p>
        <p id="final-project-copy">Hack Reactor Software Engineering Bootcamp | Module 1 - Final Project</p>
    </footer>
</html>