{% extends 'base.html' %}

{% block title %}
    <title>My Tasks</title>
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1 class="page-header">My Tasks</h1>
            {% if tasks_list|length > 0 %}
                <table>
                    <thead>
                        <tr class="tasks-table-header">
                            <th class="tasks-header-1">Name</th>
                            <th class="tasks-header-2">Start date</th>
                            <th class="tasks-header-3">End date</th>
                            <th class="tasks-header-4">Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks_list.all %}
                            <tr class="tasks-table-body">
                                <td class="tasks-body-1">{{ task.name }}</td>
                                <td class="tasks-body-2">{{ task.start_date|date:'m-d-Y' }}</td>
                                <td class="tasks-body-3">{{ task.due_date|date:'m-d-Y' }}</td>
                                <td class="tasks-body-4">
                                    {% if task.is_completed == False %}
                                        <form method="POST" action="{% url 'complete_task' task.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="is_completed" value="True">
                                            <button>Complete</button>
                                        </form>
                                    {% else %}
                                        {{ task.is_completed|yesno:"Done," }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="no-tasks">You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}