{% extends 'base.html' %}
{% load markdownify %}

{% block title %}
    <title>{{ project_detail.name}}</title>
{% endblock title %}

{% block content %}
    <main>
        <div class="project-details-div">
            <h1>{{ project_detail.name}}</h1>
            {{ project_detail.description|markdownify }}
            <h2>Tasks</h2>
            <p><a href="{% url 'create_task' %}">Create a New Task</a></p>
            {% if project_detail.tasks.all|length > 0 %}
                <table id="project-details-table">
                    <thead>
                        <tr class="project-details-table-header">
                            <th class="project-details-header-1">Name</th>
                            <th class="project-details-header-2">Assignee</th>
                            <th class="project-details-header-3">Start date</th>
                            <th class="project-details-header-4">Due date</th>
                            <th class="project-details-header-5">Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in project_detail.tasks.all %}
                            <tr class="project-details-table-body">
                                <td class="project-details-body-1">{{ task.name }}</td>
                                <td class="project-details-body-2">{{ task.assignee }}</td>
                                <td class="project-details-body-3">{{ task.start_date|date:'m-d-Y' }}</td>
                                <td class="project-details-body-4">{{ task.due_date|date:'m-d-Y' }}</td>
                                <td class="project-details-body-5">{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p id="no-tasks">This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}