{% extends 'base.html' %}

{% block title %}
    <title>My Projects</title>
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1 class="page-header">My Projects</h1>
            <p class="create-project-link"><a href="{% url 'create_project' %}">Create a New Project</a></p>
            {% if projects_list|length == 0 %}
                <p class="no-projects">You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr class="projects-table-header">
                            <th class="projects-header-1">Name</th>
                            <th class="projects-header-2">Number of Tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects_list %}
                            <tr class="projects-table-body">
                                <td class="projects-body-1"><a href="{% url 'show_project' project.pk %}">{{ project.name }}</a></td>
                                <td class="projects-body-2">{{ project.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}