{% extends 'base.html' %}

{% block title %}
    <title>Create New Project</title>
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1 class="page-header">Create a New Project</h1>
            <form class="form" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="form-button">Create</button>
            </form>
        </div>
    </main>
{% endblock content %}